<div id="title">
	ГРАФИЧЕСКАЯ ВИЗУАЛИЗАЦИЯ МНОГОЧЛЕНОВ ЭРМИТА. СОЗДАНИЕ WEB-ПРИЛОЖЕНИЯ, ИСПОЛЬЗУЯ ФРЕЙМВОРК RUBY ON RAILS
</div>
<div id="app">
	<% if notice %>
		<p class="notice">Введено неверное значение! Попробуйте другое!</p>
	<% end %>
	<% if @chart %>
		<p>Искомое представление</p>
		<div id='chart'></div>
		<%= render_chart @chart, 'chart' %>
		<% for ermit in @s %>
			<div><%= ermit %></div>
		<% end %>
		<p>Посчитать что-нибудь ещё??</p>
	<% else %>
		<p>Здравствуйте! Приложение создано для поиска многочлена Эрмита некоторой степени и его графического отображения.</p>
		<p>Для начала можно почитать немного <%= link_to "теории", "theory" %></p>
		<p>И всего лишь ОДИН шаг отделяет Вас от ответа: введите интересующую степень и нажмите "Посчитать"</p>
		<p>Чтобы увидеть все многочлены до заданной степени выберите "Вывести все"</p>
	<% end %>
	<%= form_tag( {:action => "index"}, { :autocomplete => :off }) do %>
		<div id='inputs'>
			<%= text_field_tag(:power) %><br>
			<%= check_box_tag(:all) %>
			<%= label_tag(:all, "Вывести все") %>
		</div>
		<div id='btn'>
			<%= image_submit_tag("btn.png") %>
		</div>
	<% end %>
<div>